@charset "UTF-8";
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 412px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}
/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}
/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  background-color: #F4F4F4;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header__wrp {
  background-color: #f4f4f4;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__search {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 12px 10px 10px 12px;
  background-color: rgba(255, 255, 255, 0.5);
}
.header__search img {
  width: 20px;
  height: 20px;
}
.header__title {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #31507F;
  font-size: 32px;
  line-height: 52px;
}
.header__menu {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.header__menu img {
  width: 25px;
  height: 25px;
}

.userHello__wrp {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.userHello__img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.userHello__img img {
  width: 100%;
}
.userHello__info {
  color: #31507F;
}
.userHello__time {
  font-size: 16px;
}
.userHello__name {
  font-size: 24px;
}

.weatherNow {
  margin-top: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #31507F;
}
.weatherNow-wrp {
  background-color: #fff;
  padding: 20px;
}
.weatherNow__date {
  font-size: 12px;
}
.weatherNow__locat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.weatherNow__icon {
  width: 24px;
  height: 24px;
  margin-top: 6px;
}
.weatherNow__title {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}
.weatherNow__img {
  position: relative;
}
.weatherNow__update {
  font-size: 12px;
}
.weatherNow__descr {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-top: 10px;
}

.weatherNow-temp {
  margin-top: 10px;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.weatherNow-temp__max {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 35px;
}
.weatherNow-temp__min {
  font-size: 22px;
  margin-bottom: -8px;
  margin-right: 5px;
}
.weatherNow-temp__design {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}

.img-extra-op {
  position: absolute;
  top: -28px;
  left: 100px;
  opacity: 0.45;
  -webkit-filter: blur(12px);
  filter: blur(12px);
}

.dayDetails {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #31507F;
}
.dayDetails__top {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
}
.dayDetails__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
}
.dayDetails__bootom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
}
.dayDetails__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dayDetails__item {
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */