<div class="dayDetails">
  <div class="container">
    <div class="dayDetails__top">
      <h2 class="dayDetails__title">Day details</h2>
      <img class="dayDetails__icon" src="img/svg/dayDetailsNext.svg" alt="icon">
    </div>
    <div class="dayDetails__bootom">
      <ul class="dayDetails__list">
        <li class="dayDetails__item">
          <span class="dayDetails__num">20<b>&#176;</b></span>
          <span class="dayDetails__name">Feels like</span>
        </li>
        <li class="dayDetails__item">
          <span class="dayDetails__num">10 <b>KM</b></span>
          <span class="dayDetails__name">Visibility</span>
        </li>
        <li class="dayDetails__item">
          <span class="dayDetails__num">15<b>&#176;</b></span>
          <span class="dayDetails__name">Dew Point</span>
        </li>
      </ul>
      <ul class="dayDetails__list">
        <li class="dayDetails__item">
          <span class="dayDetails__num">75<b>%</b></span>
          <span class="dayDetails__name">Humifity</span>
        </li>
        <li class="dayDetails__item">
          <span class="dayDetails__num">9 <b>km/h</b></span>
          <span class="dayDetails__name">Wind</span>
        </li>
        <li class="dayDetails__item">
          <span class="dayDetails__num"> <b>&uarr;</b>29<b>&#176;</b></span>
          <span class="dayDetails__num"> <b>&darr;</b>24<b>&#176;</b></span>
        </li>
      </ul>
    </div>
  </div>
</div>