<div class="nextDay">
  <div class="container">
    <div class="nextDay__top">
      <h2 class="nextDay__title">Next days</h2>
      <img class="nextDay__icon" src="img/svg/next.svg" alt="icon">
    </div>
    <div class="nextDay__bottom">
      <ul class="nextDay__list">
        <li class="nextDay__item">
          <h3 class="nextDay__subTitle">cool</h3>
          <span class="nextDay__date">wed 25 05</span>
          <img class="nextDay__img" src="img/svg/nextDay-w1.svg" alt="weather icon">
          <span class="nextDay__num">-2<b>&#176;</b></span>
          <span class="nextDay__num nextDay__num_sm">-5<b>&#176;</b></span>
          <span class="nextDay__symbol">C</span>
        </li>
        <li class="nextDay__item">
          <h3 class="nextDay__subTitle">sunny</h3>
          <span class="nextDay__date">wed 25 05</span>
          <img class="nextDay__img" src="img/svg/nextDay-w2.svg" alt="weather icon">
          <span class="nextDay__num">28<b>&#176;</b></span>
          <span class="nextDay__num nextDay__num_sm">15<b>&#176;</b></span>
          <span class="nextDay__symbol">C</span>
        </li>
        <li class="nextDay__item">
          <h3 class="nextDay__subTitle">cool</h3>
          <span class="nextDay__date">wed 25 05</span>
          <img class="nextDay__img" src="img/svg/nextDay-w1.svg" alt="weather icon">
          <span class="nextDay__num">-1<b>&#176;</b></span>
          <span class="nextDay__num nextDay__num_sm">-3<b>&#176;</b></span>
          <span class="nextDay__symbol">C</span>
        </li>
        <li class="nextDay__item">
          <h3 class="nextDay__subTitle">rainy</h3>
          <span class="nextDay__date">wed 25 05</span>
          <img class="nextDay__img" src="img/svg/nextDay-w3.svg" alt="weather icon">
          <span class="nextDay__num">10<b>&#176;</b></span>
          <span class="nextDay__num nextDay__num_sm">7<b>&#176;</b></span>
          <span class="nextDay__symbol">C</span>
        </li>
      </ul>
    </div>
  </div>
</div>