<div class="weatherNow">
  <div class="container">
    <div class="weatherNow-wrp">
    <div class="weatherNow__date">wed 19, 10, 2022</div>
    <div class="weatherNow__locat">
      <img class="weatherNow__icon" src="img/svg/locat.svg" alt="locate icon">
      <h2 class="weatherNow__title">Alexandria, Egypt</h2>
    </div>
    <div class="weatherNow__img">
      <img src="img/svg/main.svg" alt="main img">
      <img class="img-extra-op" src="img/svg/main.svg" alt="main img">
    </div>
    <div class="weatherNow-temp">
      <span class="weatherNow-temp__max">27<b>&#176;</b></span>
      <span class="weatherNow-temp__min">20<b>&#176;</b></span>
      <span class="weatherNow-temp__design">C</span>
    </div>
    <div class="weatherNow__update">
      updated as of 12:11AM
    </div>
    <div class="weatherNow__descr">
      purtly sunny
    </div>
  </div>
</div>
</div>