@import "./mixins/breakpoint";
@import "./mixins/font-face";


@mixin mp0 {
  margin: 0;
  padding: 0;
}
@mixin liststyle {
  list-style: none;
}
@mixin grotesk400 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}
@mixin grotesk500 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}
@mixin grotesk600 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}