// если вы хотите использовать sass-переменные - удалите 
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 412px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

}
$textColor: #31507F;